<ol>
  <li>Carousel with large images of me doing fun things</li>
  <li>several cards with project / blog related things on that link to the blog</li>
  <li>fun game like things</li>
  <li>api based weather app using angular to do something</li>
  <li>contact page</li>
  <li>CV</li>
</ol>
