<ol>
  <li>Short snippet of each project</li>
  <li>weather forecast</li>
  <li>check list</li>
  <li>leave a review - sends the review to a database and is called in "reviews" - needs adding to navs</li>
</ol>
